# Copy this file to .env.local and fill in your Supabase project values
NEXT_PUBLIC_SUPABASE_URL=https://mhyxbvnykfnvcvtsxodc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_5dqYYc2U2l0Krope6TP8BA_QLTFldNQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1oeXhidm55a2ZudmN2dHNveGRjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTAyMDM5OSwiZXhwIjoyMDk0NTk2Mzk5fQ.MSX5cXpR-ZCU_e_pifDuVhNYU2z8NqhJaBlqHz9tJ3s
